<div class="d-flex flex-column align-items-center justify-content-center ">
<h1> Welcome to ScheduledTweets </h1>

<div>
    <% if Current.user.twitter_accounts.none? %>
        <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary", data: {turbo: false}%>
    <% end%>
</div>
</div>


